body {
  display: block;
  margin: 0;
}

header {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid black;
  align-items: center;
  font-weight: bold;
  font-family: Verdana;
  font-size: 14px;
  padding-bottom: 20px;
  height: 85px;
  background-color: white;
}

.logo {
  display: flex;
  padding-left: 20px;
  align-items: center;
  flex-grow: 5;
}

.logo img {
  padding-right: 10px;
}

.logo span {
  color: MediumAquamarine;
}

nav {
  display: block;
  padding-right: 40px;
}

.nav span {
  display: inline-block;
  padding: 20px 20px;
  align-content: space-between;
}

a{
  color: black;
  text-decoration: underline;
  cursor: grab;
}

/*div {
  border: 1px solid black;
}
div {
  display: block;
}*/

.column {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
  }

.content{
  display: flex;
  width: 1232px;
  margin: 0 auto 50px auto;
  padding-top: 110px;
}

.column.large {
  display: flex;
  justify-content: space-between;
  width: 630px;
}

.stories {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin-top: 17px;
}

.story {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 300px;
}

.main-story .image-text {
  background-image: url(./images/img-story-main.png);
  width: 630px;
  height:300px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}

.image-text {
  color: white;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
}

.story .fall-cancelled-image {
  background-image: url(./images/FallSeason.png);
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.story .hipstercamera-image-text {
  background-image: url(./images/HipsterCameraMan.png);
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.column.medium {
  width: 300px;
}
.story .cat-ceo-image-text {
background-image: url(./images/catCEO.png);
height: 300px;
margin-top: 15px;
font-family: Georgia;
font-weight: bold;
font-size: 30px;
color: white;
text-align: center;
}

.column.small {
  width: 240px;
}
