body {
  display: block;
}

header {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid black;
  align-items: center;
  font-weight: bold;
  font-family: Verdana;
  font-size: 14px;
  padding-bottom: 20px;
  height: 85px;
  background-color: white;
}

.logo {
  display: flex;
  padding-left: 20px;
  align-items: center;
  flex-grow: 5;
}

.logo img {
  padding-right: 10px;
}

.logo span {
  color: MediumAquamarine;
}

nav {
  display: block;
  padding-right: 40px;
}

.nav span {
  display: inline-block;
  padding: 20px 20px;
  align-content: space-between;
}

a{
  color: black;
  text-decoration: underline;
  cursor: grab;
}

div {
  border: 1px solid black;
}
div {
  display: block;
}

.column {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
  }

.content{
  display: flex;
  width: 1232px;
  margin: 0 auto 50px auto;
  padding-top: 110px;
}


.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
